@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--color-green-400);
  --color-primary-dark: var(--color-green-600);

  --color-background-0: var(--color-white);
  --color-background-50: var(--color-zinc-50);
  --color-background-100: var(--color-zinc-100);
  --color-background-200: var(--color-zinc-200);
  --color-background-300: var(--color-zinc-300);
  --color-background-400: var(--color-zinc-400);
  --color-background-500: var(--color-zinc-500);
  --color-background-600: var(--color-zinc-600);
  --color-background-700: var(--color-zinc-700);
  --color-background-800: var(--color-zinc-800);
  --color-background-900: var(--color-zinc-900);
  --color-background-950: var(--color-zinc-950);
  --color-background-1000: var(--color-black);

  --animate-blink: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@utility bg-header {
  @apply bg-background-0/90 shadow-background-800/5 ring-background-900/5 dark:bg-background-800/90 dark:ring-background-0/10 rounded-b-3xl px-4 py-3 shadow-lg ring-1 backdrop-blur-sm transition-colors;
}

@utility text-navbar {
  @apply hover:text-primary-dark dark:hover:text-primary text-background-800 dark:text-background-200 transition-colors duration-350 ease-out;
}

@utility text-navbar-active {
  @apply text-primary-dark dark:text-primary transition-colors duration-350 ease-out;
}

@utility stroke-light-icon {
  @apply stroke-primary hover:stroke-primary-dark group-hover:stroke-primary-dark w-6 cursor-pointer transition-colors;
}

@utility stroke-dark-icon {
  @apply stroke-background-500 group-hover:stroke-background-400 hover:stroke-background-400 w-6 cursor-pointer transition-colors;
}
