---
import "@/styles/global.css";

interface Props {
  lang: string;
  title: string;
}

const { lang, title } = Astro.props;
---

<!doctype html>
<html lang={lang} class="scroll-smooth font-sans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-background-0 dark:bg-background-1000 transition">
    <div
      class="border-background-1000 dark:border-background-0 bg-background-100
        dark:bg-background-900 container mx-auto border-x transition"
    >
      <slot />
    </div>
  </body>
</html>
